<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="3.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                xmlns:atom="http://www.w3.org/2005/Atom">
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
  <xsl:template match="/">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
      <head>
        <title>
          RSS Feed |
          <xsl:value-of select="/atom:feed/atom:title"/>
        </title>
        <meta charset="utf-8"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <%= stylesheet_link_tag :app, media: :all %>
      </head>
      <body>
        <main class="feed">
          <dk-alert-box type="info">
            <strong>This is an RSS feed</strong>. Subscribe by copying
            the URL from the address bar into your newsreader.
          </dk-alert-box>
          <div>
            <h1 class="feed__heading">
              <%= rss_icon(class: "feed__rss-icon") %>
              RSS Feed
            </h1>
            <h2 class="feed__site-name">stanko.io</h2>
            <a class="feed__site-link">
              <xsl:attribute name="href">
                <xsl:value-of select="/atom:feed/atom:link[1]/@href"/>
              </xsl:attribute>
              Visit Website &#x2192;
            </a>

            <div class="feed__filter-section">
              <p class="feed__filter-label">
                Filter by type:
              </p>
              <ul class="feed__filter-list">
                <li><%= link_to("Everything", feed_path) %></li>
                <% @types.each do |type| %>
                  <li>
                    <%= link_to(type.titleize.pluralize, feed_path(types: type)) %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="feed__filter-section">
              <p class="feed__filter-label">
                Filter by tag:
              </p>
              <ul class="feed__filter-list">
                <li><%= link_to("Everything", feed_path) %></li>
                <% @tags.each do |tag| %>
                  <li>
                    <%= link_to(tag.name.titleize, feed_path(tag: tag.name)) %>
                  </li>
                <% end %>
              </ul>
            </div>

            <h2 class="feed__entries-heading">
              Latest
            </h2>

            <xsl:for-each select="/atom:feed/atom:entry">
              <div class="feed__entry">
                <div class="feed__entry-date">
                  Published on
                  <xsl:value-of select="substring(atom:published, 0, 11)" />
                </div>

                <div class="feed__entry-title">
                  <a>
                    <xsl:attribute name="href">
                      <xsl:value-of select="atom:link/@href"/>
                    </xsl:attribute>
                    <xsl:value-of select="atom:title"/>
                  </a>
                </div>

                <div class="feed__entry-summary"><xsl:value-of select="atom:summary"/></div>
              </div>
            </xsl:for-each>
          </div>
        </main>
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>
