<%# locals: (entry:, talk:) -%>

<li class="flex flex-col gap-y-1 py-4 lg:py-6 px-2 md:px-0 relative group">

  <%= link_to "", talk, class: "absolute inset-0" %>

  <div class="text-xs text-neutral-600 flex flex-row gap-x-4 dark:text-neutral-500">
    <%= time_tag entry.published_at, t("entries.talk.held_at", date: l(entry.published_at.to_date)) %>
    <span class="font-medium"><%= talk.event %></span>
  </div>

  <div class="font-semibold text-xl">
    <%= entry.title %>
  </div>

  <% if entry.excerpt.present? %>
    <div class="text-sm">
      <%= entry.excerpt %>
    </div>
  <% end %>

</li>
