<div class="search" data-controller="search navigable-list">
  <h1 class="visually-hidden">Search</h1>
  <div class="search__bar">
    <%= form_for @search, url: search_path, method: :get, html: { class: "search__form", data: { turbo_frame: frame_id, search_target: "form" } } do |search_form| %>
      <label class="search__label">
        <%= search_icon(class: "icon") %>
        <%= search_form.submit "", class: "hidden" %>
        <span class="visually-hidden"><%= t(".search") %></span>
      </label>
      <%= search_form.search_field :term, placeholder: t(".search_placeholder"), autofocus: true, class: "search__input", data: { action: "input->search#search keydown->navigable-list#navigate" } %>
    <% end %>
  </div>

  <div class="search__results">
    <% results = @search.results %>
    <% has_results = results.is_a?(Hash) && results.any? { |_, v| v.any? } %>

    <% if !has_results && @search.term.present? %>
      <div class="search__no-results">
        <%= t(".no_results") %>
      </div>
    <% elsif !has_results %>
      <div class="search__no-results">
        <%= t(".prompt") %>
      </div>
    <% else %>
      <ul class="search__results-list" role="listbox">

        <% results[:articles].each do |result| %>
          <%= cache([result.entry, :search_result]) do %>
            <li class="search__result" role="option" aria-selected="false" data-navigable-list-target="item" data-action="click->navigable-list#select mouseenter->navigable-list#hoverSelect">
              <div class="search__result-inner">
                <%= link_to "", result, class: "search__result-link", data: { turbo_frame: "_top" } %>
                <div class="search__result-title">
                  <%= result.title %>
                </div>
                <div class="search__result-type">
                  Article
                </div>
              </div>
            </li>
          <% end %>
        <% end %>

        <% results[:talks].each do |result| %>
          <%= cache([result.entry, :search_result]) do %>
            <li class="search__result" role="option" aria-selected="false" data-navigable-list-target="item" data-action="click->navigable-list#select mouseenter->navigable-list#hoverSelect">
              <div class="search__result-inner">
                <%= link_to "", result, class: "search__result-link", data: { turbo_frame: "_top" } %>
                <div class="search__result-title">
                  <%= result.title %>
                </div>
                <div class="search__result-type">
                  Talk
                </div>
              </div>
            </li>
          <% end %>
        <% end %>

        <% results[:tags].each do |tag| %>
          <li class="search__result" role="option" aria-selected="false" data-navigable-list-target="item" data-action="click->navigable-list#select mouseenter->navigable-list#hoverSelect">
            <div class="search__result-inner">
              <%= link_to "", tag, class: "search__result-link", data: { turbo_frame: "_top" } %>
              <div class="search__result-title">
                <%= tag.name %>
              </div>
              <div class="search__result-type">
                Tag
              </div>
            </div>
          </li>
        <% end %>

      </ul>
    <% end %>

  </div>
</div>
