<% content_for :head do %>
  <title><%= Entry::SEO.titleize("Search") %></title>
  <%= noindex_meta_tag %>
<% end %>

<%= turbo_frame_tag :search do %>
  <div class="relative mt-5 mx-5">
    <div class="absolute -top-4 -right-4 h-8 z-20">
      <%= link_to root_path, class: "flex items-center justify-center w-8 h-8 bg-white rounded-full shadow transition-all scale-100 hover:scale-110", data: { action: "dialog#close" } do %>
        <%= close_icon(class: "w-4 h-4 text-gray-500") %>
      <% end %>
    </div>

    <%= render "form", frame_id: :search %>
  </div>
<% end %>

<%= turbo_frame_tag :mobile_search do %>
  <div class="relative mt-5 mx-5">
    <div class="absolute -top-4 -right-4 h-8 z-20">
      <%= link_to root_path, class: "flex items-center justify-center w-8 h-8 bg-white rounded-full shadow transition-all scale-100 hover:scale-110", data: { action: "dialog#close" } do %>
        <%= close_icon(class: "w-4 h-4 text-gray-500") %>
      <% end %>
    </div>

    <%= render "form", frame_id: :mobile_search %>
  </div>
<% end %>
