<% content_for :head do %>
  <title><%= Entry::SEO.titleize("Search") %></title>
  <%= noindex_meta_tag %>
<% end %>

<%= turbo_frame_tag :search do %>
  <div class="dialog__panel">
    <div class="dialog__close-btn-wrapper">
      <%= link_to root_path, class: "dialog__close-btn", data: { action: "dialog#close" } do %>
        <%= close_icon(class: "icon-sm") %>
      <% end %>
    </div>

    <%= render "form", frame_id: :search %>
  </div>
<% end %>

<%= turbo_frame_tag :mobile_search do %>
  <div class="dialog__panel">
    <div class="dialog__close-btn-wrapper">
      <%= link_to root_path, class: "dialog__close-btn", data: { action: "dialog#close" } do %>
        <%= close_icon(class: "icon-sm") %>
      <% end %>
    </div>

    <%= render "form", frame_id: :mobile_search %>
  </div>
<% end %>
