<%# locals: (article:, article_counter: nil, article_iteration: nil) -%>

<%= cache article.entry do %>
  <li class="entry-list__item">

    <%= link_to "", article_path(article) %>

    <div class="entry-list__meta">
      <%= time_tag article.published_at, t(".published", date: l(article.published_at.to_date)) %>
      <span><%= t(".reading_time", duration: article.estimated_reading_time) %></span>
    </div>

    <div class="entry-list__title">
      <%= article.title %>
    </div>

    <div class="entry-list__excerpt">
      <%= article.excerpt %>
    </div>

  </li>
<% end %>
