<%# locals: (article:) -%>

<%= form_for article, html: { class: "form" } do |form| %>
  <%= validation_errors(form) if form.object.errors.any? %>

  <label>
    <%= form.object.class.human_attribute_name(:title) %>
    <%= form.text_field :title, class: "input" %>
  </label>

  <div>
    Tags
    <%= tag_input_field(form, tags: article.entry&.tags&.pluck(:name) || []) %>
  </div>

  <%= rich_text_field(form, :body) %>

  <div data-controller="publish" data-publish-published-value="<%= article.published? %>">
    <%= form.hidden_field :published, data: { publish_target: "publishedInput" } %>
    <%= form.hidden_field :publish_at, value: "", data: { publish_target: "publishAtInput" } %>

    <div data-publish-target="draftControls" class="form__actions">
      <%= form.submit "Save draft", class: "btn btn--secondary flex-grow" %>

      <div class="relative flex flex-row">
        <%= form.submit "Publish", class: "btn btn--primary btn--split-left", data: { action: "publish#publish" } %>
        <button type="button" class="btn btn--primary btn--split-right" data-action="publish#toggleSchedule">
          &#128340;
        </button>

        <div data-publish-target="schedulePopup" hidden class="form__schedule-popup">
          <input type="datetime-local" data-publish-target="scheduleDatetime" class="input">
          <button type="submit" data-action="publish#publishAtTime" class="btn btn--primary txt-sm">
            Publish at set time
          </button>
        </div>
      </div>
    </div>

    <div data-publish-target="publishedControls" class="form__actions" hidden>
      <%= form.submit "Update", class: "btn btn--primary flex-grow" %>
      <%= form.submit "Unpublish", class: "btn btn--secondary", data: { action: "publish#unpublish" } %>
    </div>
  </div>
<% end %>
