<%= form_for article, html: { class: "flex flex-col gap-y-4" } do |article_form| %>
  <%= validation_errors(article_form) if article_form.object.errors.any? %>

  <label>
    <%= article_form.object.class.human_attribute_name(:title) %>
    <%= article_form.text_field :title, class: "w-full rounded border border-neutral-300 dark:text-black" %>
  </label>

  <label>
    <%= article_form.object.class.human_attribute_name(:tags) %>
    <%= article_form.text_field :tags, value: article_form.object.tags.pluck(:name).join(", "), class: "w-full rounded border border-neutral-300 dark:text-black" %>
  </label>

  <div class="flex flex-col md:flex-row gap-x-4 gap-y-4">
    <label class="grow">
      <%= article_form.object.class.human_attribute_name(:publish_at) %>
      <%= article_form.datetime_field :publish_at, class: "w-full rounded border border-neutral-300 dark:text-black" %>
    </label>

    <label class="flex flex-row gap-x-2 items-center pt-5">
      <%= article_form.check_box :published %>
      <%= article_form.object.class.human_attribute_name(:published) %>
    </label>
  </div>

  <div
  class="rich-text"
  data-controller="rich-text"
  data-rich-text-ready-class="rich-text--ready"
  data-rich-text-loading-class="rich-text--loading"
  data-rich-text-supported-code-block-languages-value="<%= h Rouge::Lexer.all.each_with_object({}) { |lexer, hash| hash[lexer.tag] = lexer.title }.to_json %>">
    <%= article_form.rich_text_area(:content, data: {
      action: %w[trix-initialize->rich-text#editorReady
        trix-attributes-change->rich-text#attributeChanged
        trix-selection-change->rich-text#selectionChanged
        scroll@window->rich-text#repositionDialogs
        resize@window->rich-text#repositionDialogs].join(" "),
      rich_text_target: "editor"
    }) %>
  </div>

  <%= article_form.submit t(".save"), class: "rounded text-white p-2 w-full cursor-pointer bg-indigo-500 hover:bg-indigo-700 dark:bg-yellow-500 dark:text-yellow-900 dark:hover:bg-yellow-400" %>
<% end %>
