<%= content_for :head do %>
  <%= cache [@article.entry, :seo] do %>
    <title><%= @article.entry.seo.title %></title>
    <%= seo_meta_tags_for_entry(@article.entry) %>
  <% end %>
<% end %>

<article class="article">
  <div class="flex flex-row gap-x-4">
    <span><%= link_to text_with_icon(:arrow_long_left, t(".back")), articles_path, class: "article__back-link" %></span>
    <% if Current.user.present? %>
      <span class="font-semibold"><%= link_to t(".edit"), edit_article_path(@article) %></span>
      <span class="font-semibold"><%= button_to t(".delete"), article_path(@article), method: :delete, data: { turbo_confirm: t(".confirm_delete") } %></span>
    <% end %>
  </div>

  <%= cache @article.entry do %>
    <div class="article__meta">
      <%= time_tag @article.published_at, t('.published_on', date: l(@article.published_at.to_date)) %>
    </div>

    <div>
      <h1 class="article__title">
        <%= @article.title %>
      </h1>

      <div class="article__tags">
        <div class="article__tags-fade-right"></div>
        <div class="article__tags-fade-left"></div>
        <div class="article__tags-scroll">
          <div class="article__tags-inner">
            <div class="article__tags-list">
              <% @article.tags.order(name: :asc).each do |tag| %>
                <%= tag_bubble(tag) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-controller="article">
      <%== transform_rich_text(@article.content) %>
    </div>
  <% end %>
</article>

<section class="flex flex-col gap-y-8 margin-block-4">
  <%= render "articles/show/navigation", previous_article: @previous_article, next_article: @next_article %>
  <%= render "articles/show/stay_updated_prompt" %>
  <%= render "articles/show/related_articles", related_articles: @related_articles, popular_articles: @popular_articles %>
</section>
