<%= turbo_frame_tag "link_preview-#{Base64.urlsafe_encode64(@link_preview.url)}" do %>
  <% if @link_preview.present? && @link_preview.valid? %>
    <%= cache(@link_preview) do %>
      <div class="link-preview">
        <div class="link-preview__text">
          <h6><%= @link_preview.title %></h6>
          <p><%= @link_preview.description %></p>
        </div>
        <% if @link_preview.image? %>
          <%= image_tag(@link_preview.image_url, class: "link-preview__image") %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="txt-negative font-semibold pad-4">
      <%= t(".unavailable") %>
    </div>
  <% end %>
<% end %>
