<%= form_for talk, html: { class: "form" } do |talk_form| %>
  <%= validation_errors(talk_form) if talk_form.object.errors.any? %>

  <label>
    <%= talk_form.object.class.human_attribute_name(:title) %>
    <%= talk_form.text_field :title, class: "input" %>
  </label>

  <label>
    <%= talk_form.object.class.human_attribute_name(:event) %>
    <%= talk_form.text_field :event, class: "input" %>
  </label>

  <label>
    <%= talk_form.object.class.human_attribute_name(:event_url) %>
    <%= talk_form.text_field :event_url, class: "input" %>
  </label>

  <label>
    <%= talk_form.object.class.human_attribute_name(:video_mirror_url) %>
    <%= talk_form.text_field :video_mirror_url, class: "input" %>
  </label>

  <label>
    <%= talk_form.object.class.human_attribute_name(:video) %>
    <%= talk_form.file_field :video, accept: %w[.mp4 .m4v .webm].join(","), class: "input" %>
  </label>

  <label>
    <%= talk_form.object.class.human_attribute_name(:held_at) %>
    <%= talk_form.datetime_field :held_at, class: "input" %>
  </label>

  <div>
    Tags
    <%= tag_input_field(talk_form, tags: talk.entry&.tags&.pluck(:name) || []) %>
  </div>

  <%= rich_text_field(talk_form, :description) %>

  <%= talk_form.submit t(".save"), class: "btn btn--primary w-full" %>
<% end %>
