<% content_for :head do %>
  <title><%= Entry::SEO.titleize("Talks") %></title>
  <%= seo_meta_tags(
    title: "Talks",
    description: "Conference talks and presentations about Ruby, Rails, and web development",
    url: talks_url
  ) %>
<% end %>

<div class="flex flex-col gap-y-6">
  <section class="article margin-block-end-4">
    <h1 class="txt-4xl font-semibold">Talks</h1>
  </section>

  <% if Current.user.present? %>
    <div class="article flex flex-row gap-x-4">
      <%= link_to t(".new"), new_talk_path, class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= with_automatic_pagination("talks", @page) do %>
    <%= entry_list(@entries, page: @page, class: "flex flex-col") %>
  <% end %>
</div>
