<%# locals: (gallery:) -%>
<%= link_to gallery_path(gallery), class: "gallery-stack", style: "view-transition-name: gallery-#{gallery.id}" do %>
  <div class="gallery-stack__images">
    <% cover = gallery.cover_snaps %>
    <% cover.each_with_index do |snap, index| %>
      <% next if index == 0 %>
      <% if snap.file.attached? %>
        <% if snap.file.image? %>
          <%= image_tag snap.file.variant(resize_to_fill: [400, 400]),
                        alt: "",
                        class: "gallery-stack__photo gallery-stack__photo--#{index}",
                        loading: "lazy" %>
        <% elsif snap.file.video? %>
          <video class="gallery-stack__photo gallery-stack__photo--<%= index %>" muted preload="metadata">
            <source src="<%= url_for(snap.file) %>" type="<%= snap.file.content_type %>">
          </video>
        <% end %>
      <% end %>
    <% end %>

    <div class="gallery-stack__front">
      <% front = cover.first %>
      <% if front&.file&.attached? %>
        <% if front.file.image? %>
          <%= image_tag front.file.variant(resize_to_fill: [400, 400]),
                        alt: gallery.title,
                        class: "gallery-stack__photo gallery-stack__photo--0",
                        loading: "lazy" %>
        <% elsif front.file.video? %>
          <video class="gallery-stack__photo gallery-stack__photo--0" muted preload="metadata">
            <source src="<%= url_for(front.file) %>" type="<%= front.file.content_type %>">
          </video>
        <% end %>
      <% end %>

      <div class="gallery-stack__label">
        <span class="gallery-stack__title"><%= gallery.title %></span>
        <span class="gallery-stack__count"><%= t(".snaps_count", count: gallery.snaps.size) %></span>
      </div>
    </div>

    <% if cover.none? { |s| s.file.attached? } %>
      <div class="gallery-stack__placeholder"></div>
    <% end %>
  </div>
<% end %>
