<% content_for :head do %>
  <title><%= Entry::SEO.titleize("Settings") %></title>
  <%= noindex_meta_tag %>
<% end %>

<%= turbo_frame_tag :settings do %>
  <div class="dialog__panel">
    <div class="dialog__close-btn-wrapper">
      <%= link_to root_path, class: "dialog__close-btn", data: { action: "dialog#close" } do %>
        <%= close_icon(class: "icon-sm") %>
      <% end %>
    </div>

    <div class="settings">
      <h1 class="visually-hidden">Settings</h1>
      <h2 class="settings__title"><%= t(".settings") %></h2>

      <dl class="settings__grid">
        <dt class="settings__label"><%= t(".color_scheme") %></dt>
        <dd class="settings__value">
          <div class="settings__color-picker">
            <%= radio_button_tag :color_scheme, "system", Current.settings&.color_scheme_auto?, id: "system_color_scheme", class: "settings__option-input", data: { action: "color-scheme#useSystemColorScheme" } %>
            <label for="system_color_scheme" class="settings__option-label">
              <%= text_with_icon(:computer, t(".color_theme.system"), class: "icon-sm") %>
            </label>

            <%= radio_button_tag :color_scheme, "light", Current.settings&.color_scheme_light?, id: "light_color_scheme", class: "settings__option-input", data: { action: "color-scheme#useLightColorScheme" } %>
            <label for="light_color_scheme" class="settings__option-label">
              <%= text_with_icon(:sun, t(".color_theme.light"), class: "icon-sm") %>
            </label>

            <%= radio_button_tag :color_scheme, "dark", Current.settings&.color_scheme_dark?, id: "dark_color_scheme", class: "settings__option-input", data: { action: "color-scheme#useDarkColorScheme" } %>
            <label for="dark_color_scheme" class="settings__option-label">
              <%= text_with_icon(:moon, t(".color_theme.dark"), class: "icon-sm") %>
            </label>
          </div>
        </dd>
      </dl>
    </div>
  </div>
<% end %>
