<div class="subscribe">
  <div class="subscribe__rss-row">
    <div class="subscribe__rss-icon">
      <%= rss_icon(class: "icon-lg") %>
    </div>
    <span><%= t(".subscribe_rss_before") %><%= link_to t(".subscribe_rss_link"), feed_path(types: :article), target: :_blank, class: "subscribe__rss-link" %><%= t(".subscribe_rss_after") %></span>
  </div>

  <div class="subscribe__divider">
    <hr>
    <span class="subscribe__divider-text"><%= t(".and") %></span>
  </div>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/monorkin"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/monorkin', 'popupwindow')"
  >
    <div class="subscribe__email-row">
      <div class="subscribe__email-icon">
        <%= mail_icon(class: "w-full") %>
      </div>
      <div class="subscribe__email-content">
        <div>
          <%= t(".subscribe_newsletter") %>
        </div>
        <div class="subscribe__email-form">
          <input
            type="email"
            name="email"
            placeholder="Type in your email"
            class="subscribe__email-input"
          />
          <input type="submit" value="Subscribe" class="subscribe__email-submit" />
        </div>
        <div class="subscribe__powered-by">
          <a href="https://buttondown.email/refer/monorkin" target="_blank">Powered by Buttondown.</a>
        </div>
      </div>
    </div>
  </form>
</div>
