<div class="rounded-lg m-4 p-4 shadow-lg bg-white dark:bg-neutral-900 dark:border dark:border-neutral-800">
  <h1 class="text-2xl font-bold mb-4"><%= t(".login") %></h1>

  <%= form_for(@login, url: login_path, html: { class: "flex flex-col gap-y-4" }) do |login_form| %>
    <label>
      <div>
        <%= Login.human_attribute_name(:username) %>
      </div>
      <%= login_form.text_field :username, class: "w-full rounded border border-neutral-300 dark:text-black" %>
    </label>

    <label>
      <div>
        <%= Login.human_attribute_name(:password) %>
      </div>
      <%= login_form.password_field :password, class: "w-full rounded border border-neutral-300 dark:text-black" %>
    </label>

    <div>
      <%= login_form.submit t(".login"), class: primary_button_classes("w-full") %>
    </div>

    <%= validation_errors(login_form) if login_form.object.errors.any? %>
  <% end %>
</div>
