<div class="card margin-4">
  <h1 class="txt-2xl font-bold margin-block-end-4"><%= t(".login") %></h1>

  <%= form_for(@login, url: login_path, html: { class: "form" }) do |login_form| %>
    <label>
      <div>
        <%= Login.human_attribute_name(:username) %>
      </div>
      <%= login_form.text_field :username, class: "input" %>
    </label>

    <label>
      <div>
        <%= Login.human_attribute_name(:password) %>
      </div>
      <%= login_form.password_field :password, class: "input" %>
    </label>

    <div>
      <%= login_form.submit t(".login"), class: "btn btn--primary w-full" %>
    </div>

    <%= validation_errors(login_form) if login_form.object.errors.any? %>
  <% end %>
</div>
